@model List<InvestmentManagementSystem.Models.User>
@{
                /**/

                ViewBag.Title = "ListOfEntrepreneurs";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--mobile">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Entrepreneur
                                    <small>
                                        manage records
                                    </small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <!--begin: Search Form -->
                        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                            <div class="row align-items-center">
                                <div class="col-xl-8 order-2 order-xl-1">
                                    <div class="form-group m-form__group row align-items-center">
                                        <div class="col-md-4">
                                            <div class="m-input-icon m-input-icon--left">
                                                <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="generalSearch">
                                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                                    <span>
                                                        <i class="la la-search"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                                    @*<a href="@Url.Action("addIncubator","Admin")" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                        <span>
                                            <i class="la la-cart-plus"></i>
                                            <span>
                                                Create new Incubator
                                            </span>
                                        </span>
                                    </a>*@
                                    <div class="m-separator m-separator--dashed d-xl-none"></div>
                                </div>
                            </div>
                        </div>
                        <!--end: Search Form -->
                        <!--begin: Datatable -->
                        <table class="m-datatable" id="html_table" width="100%">
                            <thead>
                                <tr>
                                    <th title="Field #1">
                                        Name
                                    </th>
                                    <th title="Field #2">
                                        Email
                                    </th>
                                    <th title="Field #3">
                                        Contact
                                    </th>
                                    <th title="Field #4">
                                        Address
                                    </th>
                                    <th title="Field #5">
                                        City
                                    </th>
                                    <th title="Field #6">
                                        Country
                                    </th>
                                    <th title="Field #7">
                                        Password
                                    </th>
                                    <th title="Field #8">
                                        Created at
                                    </th>
                                    <th title="Field #8">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.name
                                        </td>
                                        <td>
                                            @item.email
                                        </td>
                                        <td>
                                            @item.phone
                                        </td>
                                        <td>
                                            @item.address
                                        </td>
                                        <td>
                                            @item.city
                                        </td>
                                        <td>
                                            @item.country
                                        </td>
                                        <td>
                                            @item.password
                                        </td>
                                        <td>
                                            @item.createdAt
                                        </td>
                                        <td>
                                            <a href="@Url.Action("blockUser","Admin",new { Id=item.userId,role="entrepreneur"})" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></a> | <a href="@Url.Action("deleteIncubator","Admin",new { Id=item.userId,role="entrepreneur"})" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

