@model List<InvestmentManagementSystem.Models.Request>
    @using InvestmentManagementSystem.BL
@{
    ViewBag.Title = "listOfRequests";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserBL userbl = new UserBL();
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--mobile">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Requests
                                    <small>
                                        manage records
                                    </small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <!--begin: Search Form -->
                        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                            <div class="row align-items-center">
                                <div class="col-xl-8 order-2 order-xl-1">
                                    <div class="form-group m-form__group row align-items-center">
                                        <div class="col-md-4">
                                            <div class="m-input-icon m-input-icon--left">
                                                <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="generalSearch">
                                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                                    <span>
                                                        <i class="la la-search"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                                    @*<a href="@Url.Action("addIncubator","Admin")" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                            <span>
                                                <i class="la la-cart-plus"></i>
                                                <span>
                                                    Create new Incubator
                                                </span>
                                            </span>
                                        </a>*@
                                    <div class="m-separator m-separator--dashed d-xl-none"></div>
                                </div>
                            </div>
                        </div>
                        <!--end: Search Form -->
                        <!--begin: Datatable -->
                        <table class="m-datatable" id="html_table" width="100%">
                            <thead>
                                <tr>
                                    <th title="Field #1">
                                        Idea Name
                                    </th>
                                    <th title="Field #2">
                                        Investor Name
                                    </th>
                                    <th title="Field #3">
                                        Entrepreneur Name
                                    </th>
                                    <th title="Field #4">
                                        Dated
                                    </th>
                                    
                                    <th title="Field #8">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.Idea.title
                                        </td>
                                        <td>
                                            @userbl.getUserById(item.senderId).name
                                        </td>
                                        <td>
                                            @item.Idea.User.name
                                        </td>
                                        <td>
                                            @item.createdAt
                                        </td>
                                        
                                        <td>
                                            <a href="@Url.Action("Requestdetails","Incubator",new { ideaId=item.ideaId,senderId=item.senderId})" class="btn btn-danger btn-sm">Check Details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

