@model InvestmentManagementSystem.Models.Idea
@using InvestmentManagementSystem.BL;
@using InvestmentManagementSystem.Models;
@{
    ViewBag.Title = "Requestdetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">
   
    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--full-height ">
                    <div class="m-portlet__head m--bg-danger">
                        <br />
                       <p style="color:white;">Make a meetup point for entrepreneur and investor.</p>
                        <div class="m-portlet__head-tools">
                            @*<ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget5_tab1_content" role="tab">
                    Last Month
                </a>
            </li>
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget5_tab2_content" role="tab">
                    last Year
                </a>
            </li>
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget5_tab3_content" role="tab">
                    All time
                </a>
            </li>
        </ul>*@
                            <a class="m-btn m-btn--pill btn btn-accent" href="@Url.Action("CreateAppointment","Incubator",new { ideaId=Model.ideaId,senderId=ViewBag.sender.userId})">Create Appointment</a>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <!--begin:: Widgets/Company Summary-->
                <div class="m-portlet m-portlet--full-height ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Entrepreneur Summary
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-widget13">
                            <div class="m-widget13__item">
                                <span class="m-widget13__desc m--align-right">
                                    Name
                                </span>
                                <span class="m-widget13__text m-widget13__text-bolder">
                                    @Model.User.name
                                </span>
                            </div>
                            <div class="m-widget13__item">
                                <span class="m-widget13__desc m--align-right">
                                    Address:
                                </span>
                                <span class="m-widget13__text m-widget13__text-bolder">
                                    @Model.User.address, @Model.User.city
                                </span>
                            </div>
                            <div class="m-widget13__item">
                                <span class="m-widget13__desc m--align-right">
                                    Country:
                                </span>
                                <span class="m-widget13__text">
                                    @Model.User.country
                                </span>
                            </div>
                            <div class="m-widget13__item">
                                <span class="m-widget13__desc m--align-right">
                                    Gender:
                                </span>
                                <span class="m-widget13__text m-widget13__text-bolder">
                                    @Model.User.gender
                                </span>
                            </div>
                            <div class="m-widget13__item">
                                <span class="m-widget13__desc m--align-right">
                                    Emal:
                                </span>
                                <span class="m-widget13__text">
                                    @Model.User.email
                                </span>
                            </div>
                            <div class="m-widget13__item">
                                <span class="m-widget13__desc m--align-right">
                                    Phone:
                                </span>
                                <span class="m-widget13__text m-widget13__number-bolder m--font-brand">
                                    @Model.User.phone
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end:: Widgets/Company Summary-->
            </div>

            <div class="col-xl-6">
                <!--begin:: Widgets/Company Summary-->
                <div class="m-portlet m-portlet--full-height ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Investor Summary
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-widget13">
                            <div class="m-widget13__item">
                                <span class="m-widget13__desc m--align-right">
                                    Name
                                </span>
                                <span class="m-widget13__text m-widget13__text-bolder">
                                    @ViewBag.sender.name
                                </span>
                            </div>
                            <div class="m-widget13__item">
                                <span class="m-widget13__desc m--align-right">
                                    Address:
                                </span>
                                <span class="m-widget13__text m-widget13__text-bolder">
                                    @ViewBag.sender.address, @ViewBag.sender.city
                                </span>
                            </div>
                            <div class="m-widget13__item">
                                <span class="m-widget13__desc m--align-right">
                                    Country:
                                </span>
                                <span class="m-widget13__text">
                                    @ViewBag.sender.country
                                </span>
                            </div>
                            <div class="m-widget13__item">
                                <span class="m-widget13__desc m--align-right">
                                    Gender:
                                </span>
                                <span class="m-widget13__text m-widget13__text-bolder">
                                    @ViewBag.sender.gender
                                </span>
                            </div>
                            <div class="m-widget13__item">
                                <span class="m-widget13__desc m--align-right">
                                    Emal:
                                </span>
                                <span class="m-widget13__text">
                                    @ViewBag.sender.email
                                </span>
                            </div>
                            <div class="m-widget13__item">
                                <span class="m-widget13__desc m--align-right">
                                    Phone:
                                </span>
                                <span class="m-widget13__text m-widget13__number-bolder m--font-brand">
                                    @ViewBag.sender.phone
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end:: Widgets/Company Summary-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--full-height ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Idea Summary
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            @*<ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget5_tab1_content" role="tab">
                                        Last Month
                                    </a>
                                </li>
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget5_tab2_content" role="tab">
                                        last Year
                                    </a>
                                </li>
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget5_tab3_content" role="tab">
                                        All time
                                    </a>
                                </li>
                            </ul>*@
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <!--begin::Content--> <!--begin::m-widget5-->
                        <div class="m-widget5">
                            <div class="m-widget5__item">
                                <div class="m-widget5__pic">
                                    <img class="m-widget7__img" src="@Url.Content(Model.User.path)" alt="">
                                </div>
                                <div class="m-widget5__content">
                                    <h4 class="m-widget5__title">
                                        @Model.title
                                    </h4>
                                    <span class="m-widget5__desc">
                                        @Model.description
                                    </span>
                                    <div class="m-widget5__info">
                                        <span class="m-widget5__author">
                                            Author:
                                        </span>
                                        <span class="m-widget5__info-label">

                                        </span>
                                        <span class="m-widget5__info-date m--font-info">
                                            @Model.User.name
                                        </span>
                                        <span class="m-widget5__info-label">
                                            Released:
                                        </span>
                                        <span class="m-widget5__info-date m--font-info">
                                            @Model.createdAt
                                        </span>
                                    </div>
                                </div>
                                <div class="m-widget5__stats1">
                                    @*<span class="m-widget5__number">
                                        19,200
                                    </span>
                                    <br>
                                    <span class="m-widget5__sales">
                                        sales
                                    </span>*@
                                </div>
                                <div class="m-widget5__stats2">

                                </div>
                            </div>

                        </div>
                        <!--end::m-widget5-->
                        <!--end::Content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

